*,

*::before,

*::after{
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #FAD900;
    --clr-nav: #8E1600;

    --fs-h1: 3.5rem;
    --fs-h2: 3.25rem;
    --fs-h3: 2.5rem;
    --fs-h4: 2.25rem;
    --fs-h5: 1.5rem;
    --fs-body: 1.25rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);

}

@media (min-width: 800px){
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 2.5rem;
        --fs-h4: 2.25rem;
        --fs-h5: 1.5rem;
        --fs-body: 1.25rem;
    }
}
strong{
    font-weight: var(--fw-bold);
    
}

.nav_list{
    list-style: none;
    text-align: center;
    background:var(--clr-nav);
}


.nav_item .nav_link{
    display: inline-block;
    color: var(--clr-accent);
    text-align: center;
    padding: 20px;
    font-size: var(--fs-body);
    text-decoration: none;
}

.nav_item .nav_link:hover{
    background: var(--clr-dark);
    display: inline-block;
    padding: 20px;
    width:200px;
}

@media (min-width: 900px){
    
    .nav_list{
        list-style: none;
        text-align: center;
        background:var(--clr-nav);
    }

    .nav_item{
        display:inline-block;
    }

    .nav_item .nav_link{
        display: inline-block;
        color: var(--clr-accent);
        text-align: center;
        padding: 20px;
        width:200px;
        font-size: var(--fs-body);
        text-decoration: none;
    }

    .nav_item .nav_link:hover{
        background: var(--clr-dark);
        
    }
}
.logo{
    margin: 0 auto;
    text-align: center;
    width: 100%;

}
.into{
    top: 20px; 
}